/* Basic styling */
*{
    background-color: #f2f2f2;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

th{
    font-weight: normal;
}

.mj{ 
    height: 70%;
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;
    padding-left: 6%;
}
h1{
    color: white;
    margin: 0;
    margin-bottom: 20px;
   
}
.container {
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

input{
    width: 80%;
    height: 36px;
}
.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#hello{
    float: right;
}
button{
    background-color: black;
    color: white;
    width: 14vw;
    height: 40px;
    margin-left: 5px;
}
.search-container button{
    
    width: 18%;
  
    margin-left: 1%;
   }
.search-container {
    margin-bottom: 20px;
}


#buttons button:nth-child(1) {
    margin-left: 0px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 2%;
    padding-top: 5px;
    padding-bottom: 5px;

}




img{
border-radius: 50%;
border: 1 px solid black;
}

th, td {
    
    background-color:  #f2f2f2;
    font-size: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

th {
    
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}
img{
    margin-right: 10px;
}
.jira{
    display: flex;
    align-items: center;

}


/* 
 /* CSS for smaller screens */
 @media only screen and (max-width: 837px) {
    table {
        width: 100%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the table */
    }

    th, td {
        background-color:  #f2f2f2;
        font-size: 80%;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

@media only screen and (max-width: 669px) {
    table {
        width: 100%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the table */
    }

    th, td {
        background-color:  #f2f2f2;
        font-size: 70%;
       padding-left: 3px;
       padding-right: 3px;
       padding-top: 5px;
       padding-bottom: 5px;
      
    }
    
}